<%# backend-api/src/views/partials/sb_admin_footer.ejs %>
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Aplikasi Photobooth Kamu <%= new Date().getFullYear() %></span>
        </div>
    </div>
</footer>